<p>
  TOTAL: {{ teachers.length }}
</p>

<table>
  <thead>
  <tr>
    <th data-field="name">Nome</th>
    <th data-field="name">Curso</th>
    <th data-field="name">Disciplina</th>
    <th data-field="name">Editar</th>
    <th data-field="name">Excluir</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let n of teachers">
      <td>{{ n.nome }}</td>
      <td>{{ n.curso }}</td>
      <td>{{ n.disciplina }}</td>
      <td>
        <a [routerLink]="['/teachers', n.id]">
          <i class="material-icons">mode_edit</i>
        </a>
      </td>
      <td>
        <a (click)="deleteTeachers(n)" href="">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light green"
     routerLink="/teachers/new">
    <i class="material-icons">add</i>
  </a>
</div>
