<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="nome" type="text"
               [(ngModel)]="course.nome" formControlName="nome">
        <label for="nome"
               [class.active]="course.nome">
          Professor
        </label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">description</i>
        <input id="disciplina" type="text"
               [(ngModel)]="course.disciplina" formControlName="disciplina">
        <label for="disciplina"
               [class.active]="course.disciplina">
          Conteúdo
        </label>
      </div>

    </div>
    <button class="btn waves-effect waves-light" type="submit">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
